<% layout('layouts/boilerplate')%>

<div class="row">
	<h1 style="text-align:center;">EDIT</h1>
	<div class="col-6 offset-3">
		<form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" class="needs-validation"
			enctype="multipart/form-data" novalidate>
			<div class="mb-3">
				<label for="Title" class="form-label fw-bold fs-6">Title</label>
				<input class="form-control" type="text" name="campground[title]" placeholder="Title"
					value="<%=campground.title%>" required>
				<div class="valid-feedback">looks good</div>
			</div>
			<div class="mb-3">
				<label for="Location" class="form-label fw-bold fs-6">Location</label>
				<input class="form-control" type="text" name="campground[location]" placeholder="Location"
					value="<%=campground.location%>" required>
				<div class="valid-feedback">looks good</div>
			</div>
			<div class="mb-3">
				<label for="Price" class="form-label fw-bold fs-6">Price</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">DA</span>
					<input type="text" name="campground[price]" class="form-control" placeholder="0.00"
						aria-describedby="price-label" aria-label="price" value="<%=campground.price%>" required>
					<div class="valid-feedback">looks good</div>
				</div>
			</div>
			<div class="input-group mb-3">
				<input type="file" class="form-control" id="image" name="image" multiple>
				<label class="input-group-text" for="image">Add Images</label>
			</div>

			
			<div class="mb-3">
				<label for="Description" class="form-label fw-bold fs-6">Description</label>
				<textarea class="form-control" type="text" name="campground[description]" rows="8"
					placeholder="description" required><%=campground.description%></textarea>
				<div class="valid-feedback">looks good</div>
			</div>
			<div class="mb-3">
                <% campground.images.forEach(function(img, i) {  %>
                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>"><i class="bi bi-trash-fill"></i></label>
                <% })%>
            </div>
			<div class="mb-3">
				<button class="btn btn-info">EDIT</button>
			</div>
		</form>
		<a href="/campgrounds">Go back</a>
	</div>
</div>