<% layout('layouts/boilerplate')%>
<div id="cluster-map" class="mt-3"></div>
<div class="container mt-2">
	<div class="row g-4">
		<% for (let post of posts){%>
		<div class="col-xl-6 col-lg-6 col-md-4 col-sm-6">
			<div class="card shadow">
				<div class="col">
					<% if (post.images.length) { %>
					<a href="/posts/<%=post._id %>"><img class="card-img-top img-fluid rounded"
							src="<%=post.images[0].url%>" alt=""></a>
					<% }else{%>
					<img class="card-img-top img-fluid rounded"
						src="https://codespeedy.com/wp-content/uploads/2019/03/Chrome-Broken-Image-Icon.png" alt="">
					<%}%>
						</div>

						<div class="card-body">
							<h5 class="card-title fw-bold">
								<%= post.title %>
					</h5>
					<p class="card-text">
						<% if (post.description.length>150) { %>
						<%= post.description.substring(0, 150)+'...' %>

						<%}else {%>
						<%= post.description+'...' %>
					</p>
					<%}%>
								<p class="card-text">
									<small class="text-muted">
										<i class="bi bi-geo-alt">
											<%=post.location %>
					</i>
					</small>
					</p>
					<a class="btn btn-primary" href="/posts/<%=post._id %>">
						View <%=post.title %>
					</a>
				</div>

			</div>
		</div>
		<%}%>
		</div>
	</div>
	<script>
		const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
		const posts = { features: <%- JSON.stringify(posts) %>}
		</script>
		<script src="/js/clusterMap.js"></script>