<% layout('layouts/boilerplate')%>
<<<<<<< HEAD
	<link rel="stylesheet" href="/css/starability-basic.css" />
	<div class="row mb-5">
		<div class="col-7 shadow mt-2">
			<div class="d-flex align-items-center mt-3">
				<div class="flex-shrink-0">
					<img class="avatar" src="<%= post.author.picture.url %> " />
=======
<link rel="stylesheet" href="/css/starability-basic.css" />
<div class="mb-5 d-flex align-items-between flex-wrap">
	<div class="shadow mt-2">
		<div class="d-flex align-items-center mt-3">
			<div class="flex-shrink-0">
				<img class="avatar" src="<%= post.author.picture.url %> " />
			</div>

			<div class="d-flex ms-3">
				<a href="#" class="card-text fw-bold text-decoration-none">
					<%= post.author.fullname %></a>
			</div>
		</div>
		<div class="card mb-3 mt-2">
			<!-- Carousel A slideshow component for cycling through elements—images 
				or slides of text—like a carousel. -->
			<div id="postCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
					<% post.images.forEach((img, i) => {  %>
					<div class="carousel-item <%= i === 0 ? 'active' : ''%>">
						<img src="<%= img.url%>" class="d-block w-100" alt="">
					</div>
					<% }) %>

>>>>>>> 23870db622bc3adb3d12365562d28ec2bf3195bf
				</div>

				<div class="d-flex ms-3">
					<a href="#" class="card-text fw-bold text-decoration-none">
						<%= post.author.fullname %>
					</a>
<<<<<<< HEAD
				</div>
			</div>
			<div class="card mb-3 mt-2">
				<!-- Carousel A slideshow component for cycling through elements—images 
				or slides of text—like a carousel. -->
				<div id="postCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
					<div class="carousel-inner">
						<% post.images.forEach((img, i)=> { %>
							<div class="carousel-item <%= i === 0 ? 'active' : ''%>">
								<img src="<%= img.url%>" class="d-block w-100" alt="">
							</div>
							<% }) %>

					</div>
					<% if(post.images.length> 1) {%>
						<button class="carousel-control-prev" type="button" data-bs-target="#postCarousel"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#postCarousel"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
=======
					<form class="d-inline" id="delete-form" action="/posts/<%=post._id %>/?_method=DELETE"
						method="POST">
						<button class="card-link btn btn-danger">
							<i class="bi bi-trash-fill"></i>
						</button>
					</form>
					<% } %>
					<div>
						<div class="card border border-1" id='map'></div>
					</div>
				</div>
			</div>
			<% if (currentUser) {%>
			<form action="/posts/<%= post._id%>/reviews" method="POST" class="needs-validation" novalidate>
				<div class="d-flex justify-content-start">
					<h4>Rate us:</h4>
					<fieldset class="starability-basic ms-2">
						<input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
							aria-label="No rating." />
						<input type="radio" id="first-rate1" name="review[rating]" value="1" />
						<label for="first-rate1" title="Terrible">1 star</label>
						<input type="radio" id="first-rate2" name="review[rating]" value="2" />
						<label for="first-rate2" title="Not good">2 stars</label>
						<input type="radio" id="first-rate3" name="review[rating]" value="3" />
						<label for="first-rate3" title="Average">3 stars</label>
						<input type="radio" id="first-rate4" name="review[rating]" value="4" />
						<label for="first-rate4" title="Very good">4 stars</label>
						<input type="radio" id="first-rate5" name="review[rating]" value="5" />
						<label for="first-rate5" title="Amazing">5 stars</label>
					</fieldset>
				</div>
				<div class="input-group">
					<input class="form-control" name="review[body]" id="body" placeholder="Write a comment..."
						required />
					<button class="btn btn-outline-secondary" type="submit" id="button-addon2">
						Comment
					</button>
				</div>
				<div class="valid-feedback">looks good</div>
			</form>
			<% } %> <% for(let review of post.reviews) { %>
			<div class="">
				<div class="card-body d-flex justify-content-between flex-wrap">
					<div class="d-flex align-items-center">
						<div class="flex-shrink-0">
							<img class="avatar" src="<%= review.author.picture.url %> " />
						</div>

						<div class="d-flex ms-3 review-body-bg flex-wrap">
							<p class="card-text fw-bold me-1">
								<%= review.author.fullname%>:
							</p>
							<p class="card-text"><%= review.body %></p>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center flex-wrap">
						<div class="p-2">
							<p class="card-title starability-result" data-rating="<%= review.rating%>"></p>
						</div>
						<% if ( currentUser && review.author.equals(currentUser._id) ) {%>
						<form class="p-2"
							action="/posts/<%=post._id%>/reviews/<%=review._id%>?_method=DELETE"
							method="POST">
							<button class="card-link btn btn-danger">
								<i class="bi bi-trash-fill"></i>
							</button>
						</form>
>>>>>>> 23870db622bc3adb3d12365562d28ec2bf3195bf
						<% } %>
				</div>
				<div class="card-body">
					<p class="card-text">
						<small class="text-muted">
							<i class="bi bi-geo-alt">
								<%=post.location %>
							</i>
						</small>
					</p>
					<h5 class="card-title fw-bold">
						<%=post.title %>
					</h5>
					<p class="card-text">
						<%=post.description %>
					</p>

					<div class="card-body">
						<% if ( currentUser && post.author.equals(currentUser._id)){%>
							<a href="/posts/<%=post._id%>/edit" class="card-link btn btn-warning">
								<i class="bi bi-pencil-fill"></i>
							</a>
							<form class="d-inline" id="delete-form" action="/posts/<%=post._id %>/?_method=DELETE"
								method="POST">
								<button class="card-link btn btn-danger">
									<i class="bi bi-trash-fill"></i>
								</button>
							</form>
							<% } %>
					</div>
				</div>
				<% if (currentUser) {%>
					<form action="/posts/<%= post._id%>/reviews" method="POST" class="needs-validation" novalidate>
						<div class="d-flex justify-content-start">
							<h4>Rate us:</h4>
							<fieldset class="starability-basic ms-2">
								<input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0"
									checked aria-label="No rating." />
								<input type="radio" id="first-rate1" name="review[rating]" value="1" />
								<label for="first-rate1" title="Terrible">1 star</label>
								<input type="radio" id="first-rate2" name="review[rating]" value="2" />
								<label for="first-rate2" title="Not good">2 stars</label>
								<input type="radio" id="first-rate3" name="review[rating]" value="3" />
								<label for="first-rate3" title="Average">3 stars</label>
								<input type="radio" id="first-rate4" name="review[rating]" value="4" />
								<label for="first-rate4" title="Very good">4 stars</label>
								<input type="radio" id="first-rate5" name="review[rating]" value="5" />
								<label for="first-rate5" title="Amazing">5 stars</label>
							</fieldset>
						</div>
						<div class="input-group">
							<input class="form-control" name="review[body]" id="body" placeholder="Write a comment..."
								required />
							<button class="btn btn-outline-secondary" type="submit" id="button-addon2">
								Comment
							</button>
						</div>
						<div class="valid-feedback">looks good</div>
					</form>
					<% } %>
						<% for(let review of post.reviews) { %>
							<div class="">
								<div class="card-body d-flex justify-content-between">
									<div class="d-flex align-items-center">
										<div class="flex-shrink-0">
											<img class="avatar" src="<%= review.author.picture.url %> " />
										</div>

										<div class="d-flex ms-3 review-body-bg">
											<p class="card-text fw-bold me-1">
												<%= review.author.fullname%>:
											</p>
											<p class="card-text">
												<%= review.body %>
											</p>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-center">
										<div class="p-2">
											<p class="card-title starability-result" data-rating="<%= review.rating%>">
											</p>
										</div>
										<% if ( currentUser && review.author.equals(currentUser._id) ) {%>
											<form class="p-2"
												action="/posts/<%=post._id%>/reviews/<%=review._id%>?_method=DELETE"
												method="POST">
												<button class="card-link btn btn-danger">
													<i class="bi bi-trash-fill"></i>
												</button>
											</form>
											<% } %>
									</div>
								</div>
							</div>
							<% } %>
			</div>
		</div>
		<div class="col-4 mt-4 p-5">
			<div class="card border border-1" id='map'></div>
		</div>
	</div>
<<<<<<< HEAD
	<script>
		const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
		const post = <%- JSON.stringify(post) %>
	</script>
=======
</div>
<script>
	const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
	const post = <%- JSON.stringify(post) %>
</script>
>>>>>>> 23870db622bc3adb3d12365562d28ec2bf3195bf

	<script src="/js/showPageMap.js"></script>